<%= render 'layouts/navigation' %>

<div class="container" id="main-content" style="display: block;">
	<div class="card bg-light mb-3 mx-auto" id="storage" style="max-width:90%;">
	  <div class="card-header"><b>Select a template to share</b></div>

		<table class="table card-body p-3">
	  	<thead>
	  		<td>S.No</td>
	  		<td>Template name</td>
	  		<td># of signees (excluding yourself)</td>
	  	</thead>

	  	<tbody>
		  	<% @user.templates.each_with_index do |t, i| %>
			  	<tr>
					  <td><%= i+1 %></td>
					  <td><%= link_to t.name, document_share_path(template_id: t.id) %></td>
					  <td><%= t.number_of_signees %></td>
					</tr>
		  	<% end %>
		  </tbody>
	  </table>
	</div>
</div>
