/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.dataTables_length label {
  padding: 10px;
}
.dataTables_filter {
  padding: 10px;
  margin-top: -50px;
}
.dataTables_info {
  padding: 10px;
}

.dataTables_paginate {
  margin-top: -30px !important;;
}
.paging_simple_numbers > a {
  padding: 20px;
  top: -20px !important;;
}
